{% extends "base.html" %}

{% block content %}
    		
            <h1 class="page-title"><i class="icon-home"></i>工作区xx</h1>
            <div class="row">
              <div class="span6">
                <div class="weiget">
                    <div class="widget-header">
                      <i class="icon-comments"></i>
                      <h3>动态</h3>
                    </div>
                    <div class="widget-content">
                      <h4>说说你想说的</h4>
                      <form action="" method="post">
                        <textarea style="width:98%" rows="4"></textarea>
                        <button type="button" class="btn btn-primary pull-right">发送</button>
                        <div  style="clear:both"></div>
                      </form>
                      <hr/>
                       <ul class="news-items">
                          <li>
                            <div class="news-item-date">
                              <img src="/static/img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span>发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                          <li>
                            <div class="news-item-date">
                              <img src="img/1.jpg" alt="" class="thumbnail">
                            </div>
                            <div class="news-item-detail">                    
                              <a href="javascript:;" class="news-item-title">fankay</a>
                              <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              <div class="comments">
                                <span sytle="color:#F2f2f2">发自6分钟前</span>
                                <a href="#" class="pull-right">收藏</a>
                                <a href="#" class="pull-right" style="margin-right:10px">回复</a>
                              </div>
                            </div> 
                          </li>
                        </ul>
                        <div class="pagination pull-right">
                          <ul>
                            <li><a href="#">Prev</a></li>
                            <li class="active">
                              <a href="#">1</a>
                            </li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                          </ul>
                        </div><!-- page end -->
                    </div>
                </div>
              </div>
              <div class="span3">
                <div class="widget">
                <div class="widget-header">
                  <i class="icon-calendar"></i>
                  <h3>日程安排　<small><a href="javascript:;">新日程</a></small></h3>

                </div>
                <div class="widget-content">
                  <div class="label label-important">今天</div>
                  <ul class="unstyled">
                    <li><i class="icon-arrow-right"></i><a href="#">完成Ajax登录的示例</a></li>
                    <li><i class="icon-arrow-right"></i><a href="#">写半个小时Python</a></li>
                    <li><i class="icon-arrow-right"></i><a href="#">拍照片</a></li>
                  </ul>
                   <div class="label label-info">7-5</div>
                  <ul class="unstyled">
                    <li><i class="icon-arrow-right"></i><a href="#">放假</a></li>
                  </ul>
                </div>
            </div>

            <div class="widget widget-table">
                <div class="widget-header">
                  <i class="icon-pencil"></i>
                  <h3>工作流　<small><a href="javascript:;">新申请</a></small></h3>

                </div>
                <div class="widget-content">
                  <table class="table table-striped">
                    <tr>
                      <td>6月20日请假</td>
                      <td width="70"><span class="label label-info"><i class="icon-time"></i>&nbsp;等待审核</span></td>
                    </tr>
                    <tr>
                      <td>7月2日请假</td>
                      <td width="70"><span class="label label-success"><i class="icon-ok"></i>&nbsp;审核通过</span></td>
                    </tr>
                    <tr>
                      <td>7月3日请假</td>
                      <td width="70"><span class="label label-important"><i class="icon-ban-circle"></i>&nbsp;审核失败</span></td>
                    </tr>
                  </table>
                </div>
            </div>
            
              </div>
            </div>
{% endblock %}